import React from "react";

import styles from "./{{pascalCase name}}.module.scss";

interface {{pascalCase name}}Props {}

const {{pascalCase name}} = ({} : {{pascalCase name}}Props) => {
  return <div className={styles.{{pascalCase name~}} }>{{pascalCase name}}</div>;
};

export default {{pascalCase name}};
